#map {
    width: 100%;
    height: 100%;
}

#map > svg {
    width: 100%;
    height: 100%;
}

circle {
    fill: gray;
    stroke: black;
    stroke-width: 2;
    opacity: 0.5;
    cursor: pointer;
}

rect {
    rx: 10;
    ry: 10;
    fill: gray;
    stroke: black;
    stroke-width: 2;
    opacity: 0.5;
    cursor: pointer;
}

text {
    font-family: Source Code Pro;
    text-decoration: underline;
}

polyline {
    fill: none;
    stroke: black;
    stroke-width: 4;
    opacity: 0.7;
    cursor: pointer;
}

.selected {
    stroke: cyan;
}
