body {
    background-color: black;
}

#map {
    width: 100%;
    height: 100%;
    background-color: white;
}

#map > svg {
    width: 100%;
    height: 100%;
}

.nodeOuter {
    rx: 10;
    ry: 10;
    fill: gray;
    stroke: black;
    stroke-width: 2;
    cursor: pointer;
}

.nodeInner {
    rx: 10;
    ry: 10;
    fill: lightgray;
    cursor: pointer;
}

tspan {
    font-size: 8;
    font-family: Source Code Pro;
}

.edgeOuter {
    fill: none;
    stroke: black;
    stroke-width: 5;
    cursor: pointer;
}

.edgeInner {
    fill: none;
    stroke: gray;
    stroke-width: 3;
    cursor: pointer;
}

.selected.edgeInner {
    stroke: lightcyan;
}

.selected.nodeOuter {
    fill: lightcyan;
}

.selected.nodeInner {
    stroke: black;
    stroke-width: 1;
}

.hidden {
    visibility: hidden;
}
