<html>
  <head>
    <title>Cartprograph</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="preload" type="font/ttf" as="font" href="/static/font/SourceCodePro-Regular.ttf" crossorigin>
  </head>

  <body>
    <div id="map"></div>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
      <div class="modal-lg modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div role="tabpanel">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a href="#ioTab" class="nav-link active" role="tab" data-toggle="tab">IO</a>
                </li>
                <li class="nav-item" role="presentation" class="active">
                  <a href="#syscallTab" class="nav-link" role="tab" data-toggle="tab">Syscalls</a>
                </li>
                <li class="nav-item" role="presentation" class="active">
                  <a href="#bbTab" class="nav-link" role="tab" data-toggle="tab">Basic Blocks</a>
                </li>
                <li class="nav-item" role="presentation" class="active">
                  <a href="#annotationTab" class="nav-link" role="tab" data-toggle="tab">Annotations</a>
                </li>
              </ul>
              <div class="tab-content">
                <br>
                <div role="tabpanel" class="tab-pane active" id="ioTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="syscallTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="bbTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="annotationTab">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/svg.js"></script>
    <script src="/static/js/svg.panzoom.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
