body {
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #282a32; /* #333; */
}

#map > svg {
    width: 100%;
    height: 100%;
}

.shadow {
    fill: #111;
}

.node {
    stroke: #aaa;
    fill: #777;
    cursor: pointer;
}

.node.output {
    fill: #778;
}

.node.input {
    fill: #787;
}

.node.input-pending {
    fill: #887;
}

.node.error {
    fill: #877;
}

tspan {
    fill: #ddd;
    font-size: 8;
    font-family: Source Code Pro;
    white-space: pre;
}

.header {
    text-anchor: middle;
    font-size: 12;
    font-weight: bold;
}

.edge {
    fill: none;
    stroke: black;
    stroke-width: 3;
    cursor: pointer;
}

.selected {
    stroke: lightcyan;
    stroke-width: 3;
}

.hidden {
    visibility: hidden;
}

.modal {
    opacity: 0.75;
}

.modal-backdrop.show {
    opacity: 0;
}

#ioTab {
    background-color: grey;
}

code {
    font-family: Source Code Pro;
}
